body {
    background-color: lightblue;
}
#loginDiv{
    padding:18%
}
.loginFelderEingabe{
    padding-right:3%;
    float: right;
    margin-right: 30%;
    margin-left: 1%;
    margin-bottom: 3%;
}
.loginFelderText{
    float: left;
    padding-right:3%;
    margin-left: 30%;
    margin-right: 1%;
    margin-bottom: 3%;
}

#loginButton{
    margin-left: 46%;
}