<html xmlns:th="http://www.thymeleaf.org">
<title></title>
<head>
    <link rel="stylesheet"  th:href="@{/login_style.css}">
</head>
<body>

    <form th:action="@{/fotologin}" method="post">
        <div id="loginDiv">

            <div id=passwortFail>
                <h3 th:text="${passwordFail}"></h3>
            </div>

            <label for="username" class="loginFelderText"><b>Username:</b></label>
            <input class="loginFelderEingabe" type="text" placeholder="username" name="username"/>
            <label class="loginFelderText" for="password"><b>Password:</b></label>
            <input class="loginFelderEingabe" type="password" placeholder="password" name="password"/>
            <button type="submit" id="loginButton">Login</button> 
        </div>
    </form>
</body>
</html>